.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    gap: 20px;
}

.container{
    overflow: hidden;
}

.container div{
    border: 2px solid black;
}

.box1{
    background-color:rgb(0, 128, 122);
    grid-column: 1/3;
    grid-row: 1/4;
}
.box2{
    background-color:rgb(88, 51, 51);
}
.box3{
    background-color:purple;
}
.box4{
    background-color:rgb(98, 164, 190);
}
.box5{
    grid-column: 6/9;
    background-color:rgb(224, 186, 13);
}
.box6{
    /* grid-column: 6/9; */
    background-color:red;
}
.box7{
    background-color:rgb(181, 190, 98);
}
.box8{
    background-color:rgb(218, 83, 59);
    grid-column: 5/6;
    grid-row: 2/4;
}
.box9{
    background-color:rgb(224, 228, 200);
    grid-column: 6/7;
    grid-row: 2/4;
}
.box10{
    background-color:rgb(85, 152, 230);
    grid-column: 1/4;
    grid-row: 4/5;
}
.box11{
    background-color:rgb(85, 230, 85);
    grid-column: 4/5;
    grid-row: 4/5;
}
.box12{
    background-color:rgb(104, 17, 131);
    grid-column: 5/6;
    grid-row: 4/6;
    
}
.box13{
    background-color:rgb(255, 204, 175);
    grid-column: 6/8;

}
.box14{
    background-color:rgb(89, 187, 204);
}
.box15{
    background-color:rgb(213, 141, 219);
}
.box16{
    background-color:rgb(206, 200, 200);
    grid-column: 2/4;
}
.box17{
    background-color:rgb(11, 143, 125);
 
}
.box18{
    background-color:rgb(178, 199, 120);
 
}
.box19{
    background-color:rgb(199, 120, 120);

}
.box20{
    background-color:rgb(54, 73, 182);
    grid-column: 8/9;
    grid-row: 5/7;
}
.box21{
    background-color:rgb(201, 55, 145);

}
.box22{
    background-color:rgb(163, 187, 201);

}
.box23{
    background-color:rgb(114, 57, 168);
}
.box24{
    background-color:rgb(172, 115, 169);
}
.box25{
    background-color:rgb(204, 153, 13);
}
.box26{
    background-color:rgb(17, 73, 3);
}

